# Row Level Security Policies for Supabase (run these in Supabase SQL Editor):

-- Enable RLS on all tables
ALTER TABLE \
User\ ENABLE ROW LEVEL SECURITY;
ALTER TABLE \UserOnboarding\ ENABLE ROW LEVEL SECURITY;
ALTER TABLE \CareerGoal\ ENABLE ROW LEVEL SECURITY;
ALTER TABLE \JobApplication\ ENABLE ROW LEVEL SECURITY;
ALTER TABLE \ActionItem\ ENABLE ROW LEVEL SECURITY;
ALTER TABLE \Conversation\ ENABLE ROW LEVEL SECURITY;
ALTER TABLE \ConversationMessage\ ENABLE ROW LEVEL SECURITY;
ALTER TABLE \ConversationTag\ ENABLE ROW LEVEL SECURITY;

-- Policies for User table
CREATE POLICY \Users
can
view
own
profile\ ON \User\ FOR SELECT USING (auth.uid() = id);
CREATE POLICY \Users
can
update
own
profile\ ON \User\ FOR UPDATE USING (auth.uid() = id);

-- Policies for other tables (users can only access their own data)
CREATE POLICY \Users
can
access
own
onboarding\ ON \UserOnboarding\ FOR ALL USING (auth.uid() = \userId\);
CREATE POLICY \Users
can
access
own
goals\ ON \CareerGoal\ FOR ALL USING (auth.uid() = \userId\);
CREATE POLICY \Users
can
access
own
applications\ ON \JobApplication\ FOR ALL USING (auth.uid() = \userId\);
CREATE POLICY \Users
can
access
own
action
items\ ON \ActionItem\ FOR ALL USING (auth.uid() = \userId\);
CREATE POLICY \Users
can
access
own
conversations\ ON \Conversation\ FOR ALL USING (auth.uid() = \userId\);
CREATE POLICY \Users
can
access
conversation
messages\ ON \ConversationMessage\ FOR ALL USING (
  EXISTS (SELECT 1 FROM \Conversation\ WHERE id = \conversationId\ AND \userId\ = auth.uid())
);
